each result in results
    .row
        .col-md-8.col-md-offset-2
            .row.table-color
                .col-md-1.col-md-offset-1.col-sm-1
                    h3.text-center= result.position

                .col-md-3.col-sm-3
                    h3.text-center= result.name

                .col-md-2.col-sm-3
                    h3.text-center= result.team

                .col-md-2.col-sm-3
                    h3.text-center= result.time

                .col-md-2.col-sm-2
                    h3.text-center= result.laps
