each result in results
    .row
        .col-xs-8.col-xs-offset-2
            .row.table-color
                .col-xs-1.col-xs-offset-1
                    h3.text-center= result.position

                .col-xs-3
                    h3.text-center= result.name

                .col-xs-2
                    h3.text-center= result.team

                .col-xs-2
                    h3.text-center= result.time

                .col-xs-2
                    h3.text-center= result.points
