each team in teams
.row
    .col-xs-2.col-xs-offset-1
        .thumbnail
            img(src=team['pic'])
            .caption
                h3= team['name']

    .col-xs-2
        h2= team['engine']

    .col-xs-2
        each driver in team['drivers']
        .row
            .thumbnail
                img.img-circle(src=driver['pic'])
                .caption
                    h4= driver['name']
